<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-precio-heading" data-cy="PrecioCreateUpdateHeading" jhiTranslate="contable4App.precio.home.createOrEditLabel">
        Create or edit a Precio
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="contable4App.precio.valorVenta" for="field_valorVenta">Valor Venta</label>
          <input
            type="number"
            class="form-control"
            name="valorVenta"
            id="field_valorVenta"
            data-cy="valorVenta"
            formControlName="valorVenta"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="contable4App.precio.valorCompra" for="field_valorCompra">Valor Compra</label>
          <input
            type="number"
            class="form-control"
            name="valorCompra"
            id="field_valorCompra"
            data-cy="valorCompra"
            formControlName="valorCompra"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="contable4App.precio.paquete" for="field_paquete">Paquete</label>
          <select class="form-control" id="field_paquete" data-cy="paquete" name="paquete" formControlName="paquete">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="paqueteOption.id === editForm.get('paquete')!.value?.id ? editForm.get('paquete')!.value : paqueteOption"
              *ngFor="let paqueteOption of paquetesSharedCollection; trackBy: trackPaqueteById"
            >
              {{ paqueteOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
