<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-regimen-heading" data-cy="RegimenCreateUpdateHeading" jhiTranslate="contable4App.regimen.home.createOrEditLabel">
        Create or edit a Regimen
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="contable4App.regimen.tipoRegimen" for="field_tipoRegimen">Tipo Regimen</label>
          <input
            type="text"
            class="form-control"
            name="tipoRegimen"
            id="field_tipoRegimen"
            data-cy="tipoRegimen"
            formControlName="tipoRegimen"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="contable4App.regimen.nombreRegimen" for="field_nombreRegimen"
            >Nombre Regimen</label
          >
          <input
            type="text"
            class="form-control"
            name="nombreRegimen"
            id="field_nombreRegimen"
            data-cy="nombreRegimen"
            formControlName="nombreRegimen"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="contable4App.regimen.fechaRegistro" for="field_fechaRegistro"
            >Fecha Registro</label
          >
          <input
            type="text"
            class="form-control"
            name="fechaRegistro"
            id="field_fechaRegistro"
            data-cy="fechaRegistro"
            formControlName="fechaRegistro"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
