<div>
  <h2 id="page-heading" data-cy="TrabajoHeading">
    <span jhiTranslate="contable4App.trabajo.home.title">Trabajos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="contable4App.trabajo.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-trabajo"
        [routerLink]="['/trabajo/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="contable4App.trabajo.home.createLabel"> Create a new Trabajo </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="trabajos?.length === 0">
    <span jhiTranslate="contable4App.trabajo.home.notFound">No trabajos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="trabajos && trabajos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombre">
            <span jhiTranslate="contable4App.trabajo.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cargo">
            <span jhiTranslate="contable4App.trabajo.cargo">Cargo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="salario">
            <span jhiTranslate="contable4App.trabajo.salario">Salario</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="salud">
            <span jhiTranslate="contable4App.trabajo.salud">Salud</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pension">
            <span jhiTranslate="contable4App.trabajo.pension">Pension</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="observacon">
            <span jhiTranslate="contable4App.trabajo.observacon">Observacon</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaRegistro">
            <span jhiTranslate="contable4App.trabajo.fechaRegistro">Fecha Registro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trabajo of trabajos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/trabajo', trabajo.id, 'view']">{{ trabajo.id }}</a>
          </td>
          <td>{{ trabajo.nombre }}</td>
          <td>{{ trabajo.cargo }}</td>
          <td>{{ trabajo.salario }}</td>
          <td>{{ trabajo.salud }}</td>
          <td>{{ trabajo.pension }}</td>
          <td>{{ trabajo.observacon }}</td>
          <td>{{ trabajo.fechaRegistro }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/trabajo', trabajo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/trabajo', trabajo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(trabajo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="trabajos && trabajos.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
