<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="detalleFactura">
      <h2 data-cy="detalleFacturaDetailsHeading"><span jhiTranslate="contable4App.detalleFactura.detail.title">Detalle Factura</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ detalleFactura.id }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.detalleFactura.precio">Precio</span></dt>
        <dd>
          <span>{{ detalleFactura.precio }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.detalleFactura.cantidad">Cantidad</span></dt>
        <dd>
          <span>{{ detalleFactura.cantidad }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.detalleFactura.total">Total</span></dt>
        <dd>
          <span>{{ detalleFactura.total }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.detalleFactura.iva">Iva</span></dt>
        <dd>
          <span>{{ detalleFactura.iva }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.detalleFactura.valorImpuesto">Valor Impuesto</span></dt>
        <dd>
          <span>{{ detalleFactura.valorImpuesto }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.detalleFactura.estado">Estado</span></dt>
        <dd>
          <span>{{ detalleFactura.estado }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.detalleFactura.objeto">Objeto</span></dt>
        <dd>
          <div *ngIf="detalleFactura.objeto">
            <a [routerLink]="['/objeto', detalleFactura.objeto?.id, 'view']">{{ detalleFactura.objeto?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="contable4App.detalleFactura.factura">Factura</span></dt>
        <dd>
          <div *ngIf="detalleFactura.factura">
            <a [routerLink]="['/factura', detalleFactura.factura?.id, 'view']">{{ detalleFactura.factura?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/detalle-factura', detalleFactura.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
