<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="tipoFactura">
      <h2 data-cy="tipoFacturaDetailsHeading"><span jhiTranslate="contable4App.tipoFactura.detail.title">Tipo Factura</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ tipoFactura.id }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.tipoFactura.nombre">Nombre</span></dt>
        <dd>
          <span>{{ tipoFactura.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.tipoFactura.prefijoInicial">Prefijo Inicial</span></dt>
        <dd>
          <span>{{ tipoFactura.prefijoInicial }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.tipoFactura.prefijoFinal">Prefijo Final</span></dt>
        <dd>
          <span>{{ tipoFactura.prefijoFinal }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.tipoFactura.prefijoActual">Prefijo Actual</span></dt>
        <dd>
          <span>{{ tipoFactura.prefijoActual }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/tipo-factura', tipoFactura.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
