<div>
  <h2 id="page-heading" data-cy="EmpresaHeading">
    <span jhiTranslate="contable4App.empresa.home.title">Empresas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="contable4App.empresa.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-empresa"
        [routerLink]="['/empresa/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="contable4App.empresa.home.createLabel"> Create a new Empresa </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="empresas?.length === 0">
    <span jhiTranslate="contable4App.empresa.home.notFound">No empresas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="empresas && empresas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="razonSocial">
            <span jhiTranslate="contable4App.empresa.razonSocial">Razon Social</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nombreComercial">
            <span jhiTranslate="contable4App.empresa.nombreComercial">Nombre Comercial</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoDocumento">
            <span jhiTranslate="contable4App.empresa.tipoDocumento">Tipo Documento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="documento">
            <span jhiTranslate="contable4App.empresa.documento">Documento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dv"><span jhiTranslate="contable4App.empresa.dv">Dv</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="direccion">
            <span jhiTranslate="contable4App.empresa.direccion">Direccion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="indicativo">
            <span jhiTranslate="contable4App.empresa.indicativo">Indicativo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telefono">
            <span jhiTranslate="contable4App.empresa.telefono">Telefono</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="contable4App.empresa.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="logo"><span jhiTranslate="contable4App.empresa.logo">Logo</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="resolucionFacturas">
            <span jhiTranslate="contable4App.empresa.resolucionFacturas">Resolucion Facturas</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prefijoInicial">
            <span jhiTranslate="contable4App.empresa.prefijoInicial">Prefijo Inicial</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prefijoFinal">
            <span jhiTranslate="contable4App.empresa.prefijoFinal">Prefijo Final</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="prefijoActual">
            <span jhiTranslate="contable4App.empresa.prefijoActual">Prefijo Actual</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <span jhiTranslate="contable4App.empresa.descripcion">Descripcion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaRegistro">
            <span jhiTranslate="contable4App.empresa.fechaRegistro">Fecha Registro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="estado">
            <span jhiTranslate="contable4App.empresa.estado">Estado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="regimen.id">
            <span jhiTranslate="contable4App.empresa.regimen">Regimen</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="municipio.id">
            <span jhiTranslate="contable4App.empresa.municipio">Municipio</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ciudad.id">
            <span jhiTranslate="contable4App.empresa.ciudad">Ciudad</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="departamento.id">
            <span jhiTranslate="contable4App.empresa.departamento">Departamento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pais.id">
            <span jhiTranslate="contable4App.empresa.pais">Pais</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empresa of empresas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/empresa', empresa.id, 'view']">{{ empresa.id }}</a>
          </td>
          <td>{{ empresa.razonSocial }}</td>
          <td>{{ empresa.nombreComercial }}</td>
          <td>{{ empresa.tipoDocumento }}</td>
          <td>{{ empresa.documento }}</td>
          <td>{{ empresa.dv }}</td>
          <td>{{ empresa.direccion }}</td>
          <td>{{ empresa.indicativo }}</td>
          <td>{{ empresa.telefono }}</td>
          <td>{{ empresa.email }}</td>
          <td>{{ empresa.logo }}</td>
          <td>{{ empresa.resolucionFacturas }}</td>
          <td>{{ empresa.prefijoInicial }}</td>
          <td>{{ empresa.prefijoFinal }}</td>
          <td>{{ empresa.prefijoActual }}</td>
          <td>{{ empresa.descripcion }}</td>
          <td>{{ empresa.fechaRegistro | formatMediumDatetime }}</td>
          <td>{{ empresa.estado }}</td>
          <td>
            <div *ngIf="empresa.regimen">
              <a [routerLink]="['/regimen', empresa.regimen?.id, 'view']">{{ empresa.regimen?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="empresa.municipio">
              <a [routerLink]="['/municipio', empresa.municipio?.id, 'view']">{{ empresa.municipio?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="empresa.ciudad">
              <a [routerLink]="['/ciudad', empresa.ciudad?.id, 'view']">{{ empresa.ciudad?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="empresa.departamento">
              <a [routerLink]="['/departamento', empresa.departamento?.id, 'view']">{{ empresa.departamento?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="empresa.pais">
              <a [routerLink]="['/pais', empresa.pais?.id, 'view']">{{ empresa.pais?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/empresa', empresa.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/empresa', empresa.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(empresa)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="empresas && empresas.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
