<div>
  <h2 id="page-heading" data-cy="EmpleadoHeading">
    <span jhiTranslate="contable4App.empleado.home.title">Empleados</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="contable4App.empleado.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-empleado"
        [routerLink]="['/empleado/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="contable4App.empleado.home.createLabel"> Create a new Empleado </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="empleados?.length === 0">
    <span jhiTranslate="contable4App.empleado.home.notFound">No empleados found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="empleados && empleados.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nombres">
            <span jhiTranslate="contable4App.empleado.nombres">Nombres</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="apellidos">
            <span jhiTranslate="contable4App.empleado.apellidos">Apellidos</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoPersona">
            <span jhiTranslate="contable4App.empleado.tipoPersona">Tipo Persona</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoDocumento">
            <span jhiTranslate="contable4App.empleado.tipoDocumento">Tipo Documento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="documento">
            <span jhiTranslate="contable4App.empleado.documento">Documento</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dv"><span jhiTranslate="contable4App.empleado.dv">Dv</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="estado">
            <span jhiTranslate="contable4App.empleado.estado">Estado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="trabajo.id">
            <span jhiTranslate="contable4App.empleado.trabajo">Trabajo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/empleado', empleado.id, 'view']">{{ empleado.id }}</a>
          </td>
          <td>{{ empleado.nombres }}</td>
          <td>{{ empleado.apellidos }}</td>
          <td>{{ empleado.tipoPersona }}</td>
          <td>{{ empleado.tipoDocumento }}</td>
          <td>{{ empleado.documento }}</td>
          <td>{{ empleado.dv }}</td>
          <td>{{ empleado.estado }}</td>
          <td>
            <div *ngIf="empleado.trabajo">
              <a [routerLink]="['/trabajo', empleado.trabajo?.id, 'view']">{{ empleado.trabajo?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/empleado', empleado.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/empleado', empleado.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(empleado)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="empleados && empleados.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
