<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="precio">
      <h2 data-cy="precioDetailsHeading"><span jhiTranslate="contable4App.precio.detail.title">Precio</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ precio.id }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.precio.valorVenta">Valor Venta</span></dt>
        <dd>
          <span>{{ precio.valorVenta }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.precio.valorCompra">Valor Compra</span></dt>
        <dd>
          <span>{{ precio.valorCompra }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.precio.paquete">Paquete</span></dt>
        <dd>
          <div *ngIf="precio.paquete">
            <a [routerLink]="['/paquete', precio.paquete?.id, 'view']">{{ precio.paquete?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/precio', precio.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
