<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-tipo-factura-heading"
        data-cy="TipoFacturaCreateUpdateHeading"
        jhiTranslate="contable4App.tipoFactura.home.createOrEditLabel"
      >
        Create or edit a Tipo Factura
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="contable4App.tipoFactura.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="contable4App.tipoFactura.prefijoInicial" for="field_prefijoInicial"
            >Prefijo Inicial</label
          >
          <input
            type="number"
            class="form-control"
            name="prefijoInicial"
            id="field_prefijoInicial"
            data-cy="prefijoInicial"
            formControlName="prefijoInicial"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="contable4App.tipoFactura.prefijoFinal" for="field_prefijoFinal"
            >Prefijo Final</label
          >
          <input
            type="number"
            class="form-control"
            name="prefijoFinal"
            id="field_prefijoFinal"
            data-cy="prefijoFinal"
            formControlName="prefijoFinal"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="contable4App.tipoFactura.prefijoActual" for="field_prefijoActual"
            >Prefijo Actual</label
          >
          <input
            type="number"
            class="form-control"
            name="prefijoActual"
            id="field_prefijoActual"
            data-cy="prefijoActual"
            formControlName="prefijoActual"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
