<div>
  <h2 id="page-heading" data-cy="FacturaHeading">
    <span jhiTranslate="contable4App.factura.home.title">Facturas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="contable4App.factura.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-factura"
        [routerLink]="['/factura/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="contable4App.factura.home.createLabel"> Create a new Factura </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="facturas?.length === 0">
    <span jhiTranslate="contable4App.factura.home.notFound">No facturas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="facturas && facturas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="numero">
            <span jhiTranslate="contable4App.factura.numero">Numero</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="caja"><span jhiTranslate="contable4App.factura.caja">Caja</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="estado">
            <span jhiTranslate="contable4App.factura.estado">Estado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="iva19">
            <span jhiTranslate="contable4App.factura.iva19">Iva 19</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="baseIva19">
            <span jhiTranslate="contable4App.factura.baseIva19">Base Iva 19</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="iva5"><span jhiTranslate="contable4App.factura.iva5">Iva 5</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="baseIva5">
            <span jhiTranslate="contable4App.factura.baseIva5">Base Iva 5</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="iva0"><span jhiTranslate="contable4App.factura.iva0">Iva 0</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="baseIva0">
            <span jhiTranslate="contable4App.factura.baseIva0">Base Iva 0</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="total">
            <span jhiTranslate="contable4App.factura.total">Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pago"><span jhiTranslate="contable4App.factura.pago">Pago</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="saldo">
            <span jhiTranslate="contable4App.factura.saldo">Saldo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaRegistro">
            <span jhiTranslate="contable4App.factura.fechaRegistro">Fecha Registro</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fechaActualizacion">
            <span jhiTranslate="contable4App.factura.fechaActualizacion">Fecha Actualizacion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="sucursal.id">
            <span jhiTranslate="contable4App.factura.sucursal">Sucursal</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoFactura.id">
            <span jhiTranslate="contable4App.factura.tipoFactura">Tipo Factura</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="notaContable.id">
            <span jhiTranslate="contable4App.factura.notaContable">Nota Contable</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cliente.id">
            <span jhiTranslate="contable4App.factura.cliente">Cliente</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="empleadp.id">
            <span jhiTranslate="contable4App.factura.empleadp">Empleadp</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let factura of facturas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/factura', factura.id, 'view']">{{ factura.id }}</a>
          </td>
          <td>{{ factura.numero }}</td>
          <td>{{ factura.caja }}</td>
          <td>{{ factura.estado }}</td>
          <td>{{ factura.iva19 }}</td>
          <td>{{ factura.baseIva19 }}</td>
          <td>{{ factura.iva5 }}</td>
          <td>{{ factura.baseIva5 }}</td>
          <td>{{ factura.iva0 }}</td>
          <td>{{ factura.baseIva0 }}</td>
          <td>{{ factura.total }}</td>
          <td>{{ factura.pago }}</td>
          <td>{{ factura.saldo }}</td>
          <td>{{ factura.fechaRegistro | formatMediumDatetime }}</td>
          <td>{{ factura.fechaActualizacion | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="factura.sucursal">
              <a [routerLink]="['/sucursal', factura.sucursal?.id, 'view']">{{ factura.sucursal?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="factura.tipoFactura">
              <a [routerLink]="['/tipo-factura', factura.tipoFactura?.id, 'view']">{{ factura.tipoFactura?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="factura.notaContable">
              <a [routerLink]="['/nota-contable', factura.notaContable?.id, 'view']">{{ factura.notaContable?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="factura.cliente">
              <a [routerLink]="['/cliente', factura.cliente?.id, 'view']">{{ factura.cliente?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="factura.empleadp">
              <a [routerLink]="['/empleado', factura.empleadp?.id, 'view']">{{ factura.empleadp?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/factura', factura.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/factura', factura.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(factura)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="facturas && facturas.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
