<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="objeto">
      <h2 data-cy="objetoDetailsHeading"><span jhiTranslate="contable4App.objeto.detail.title">Objeto</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ objeto.id }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.objeto.nombre">Nombre</span></dt>
        <dd>
          <span>{{ objeto.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.objeto.cantidad">Cantidad</span></dt>
        <dd>
          <span>{{ objeto.cantidad }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.objeto.codigoDian">Codigo Dian</span></dt>
        <dd>
          <span>{{ objeto.codigoDian }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.objeto.detalleObjeto">Detalle Objeto</span></dt>
        <dd>
          <span>{{ objeto.detalleObjeto }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.objeto.vencimiento">Vencimiento</span></dt>
        <dd>
          <span>{{ objeto.vencimiento | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.objeto.fechaRegistro">Fecha Registro</span></dt>
        <dd>
          <span>{{ objeto.fechaRegistro | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="contable4App.objeto.tipoObjeto">Tipo Objeto</span></dt>
        <dd>
          <div *ngIf="objeto.tipoObjeto">
            <a [routerLink]="['/tipo-objeto', objeto.tipoObjeto?.id, 'view']">{{ objeto.tipoObjeto?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="contable4App.objeto.usuario">Usuario</span></dt>
        <dd>
          <div *ngIf="objeto.usuario">
            <a [routerLink]="['/usuario', objeto.usuario?.id, 'view']">{{ objeto.usuario?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="contable4App.objeto.sector">Sector</span></dt>
        <dd>
          <div *ngIf="objeto.sector">
            <a [routerLink]="['/sector', objeto.sector?.id, 'view']">{{ objeto.sector?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/objeto', objeto.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
